/* Header */
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo {
  height: 6.7vmin;
  min-height: 50%;
  pointer-events: none;
}

.navbar {
  border-radius: 0;
}

#basic-navbar-nav{
  font-size: calc(2px + 2vmin);
}

.searchControl {
  font-size: calc(6px + 2vmin);
}