/* Header */
.logo {
  height: 7vmin;
  min-height: 100%;
  pointer-events: none;
}

.navbar {
  border-radius: 0;
}

#basic-navbar-nav{
  font-size: calc(2px + 2vmin);
}

.searchControl {
  font-size: calc(6px + 2vmin);
}

.buttonCollapse{
  display: contents;
}

.loginItens {
  display: flex;
}